<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>微金所-成就亿万人的信用价值</title>
    <link rel="stylesheet" href="/stylesheets/h_style.css">
    <link rel="stylesheet" type="text/css" href="/h_font/iconfont.css">
  </head>
  <body>
    <%- include("lz_h_head") %>

    <img src="/images/guide1.jpg" alt=""style="width: 100%;">
    <div class="xs-zy">
      <div class="xs-zy-1">
        <div class="xs-zy-2">
          <ul>
            <li class="xs-a"><a href="/h/01">操作指南</a></li>
            <li><a href="/h/02">新手指引</a></li>
            <li><a href="/h/03">VIP投资人</a></li>
            <li><a href="/h/04">常见问题</a></li>
            <li><a href="/h/05">名词解释</a></li>
            <li><a href="/h/06">产品介绍</a></li>
          </ul>
        </div>
        <div class="xs-zy-3">
          <div class="xs-zy-4">
            <div class="xs-zy-5">
              <dl>
                <dt>注册</dt>
                <dd>填写手机号等信息注册</dd>
              </dl>
              <a href="#">立即注册</a>

            </div>
            <div class="xs-zy-6">
              <dl>
                <dt>实名认证</dt>
                <dd>输入姓名身份证号等进</dd>
                <dd>行实名认证</dd>
              </dl>
              <a href="#">立即实名认证</a>


            </div>
            <div class="xs-zy-7">
              <dl>
                <dt>充值</dt>
                <dd>充入您想要投资的金额</dd>
              </dl>
              <a href="#">立即充值</a>

            </div>
            <div class="xs-zy-8">
              <dl>
                <dt>投标</dt>
                <dd>选择心仪的项目点击投标</dd>
              </dl>
              <a href="#">立即投标</a>
            </div>

          </div>

        </div>


      </div>

    </div>
    <%- include("lz_foot") %>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
    var ul = $("ul li");
    ul.click(function(){
      location.href = $(this).find('a')[0].href;
    });

    </script>

  </body>
</html>
