<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>微金所-成就亿万人的信用价值</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/h_style.css">
  <link rel="stylesheet" type="text/css" href="/h_font/iconfont.css">
  <!-- <link rel="stylesheet" href="/js/bootstrap.min.js"> -->
</head>
  <body>
    <%- include("lz_h_head") %>
      <img src="/images/guide1.jpg" alt="" style="width: 100%;">
      <div class="xs-zy">
      <div class="xs-zy-1">
        <div class="xs-zy-2">
          <ul>
            <li><a href="/h/01">操作指南</a></li>
            <li><a href="/h/02">新手指引</a></li>
            <li><a href="/h/03">VIP投资人</a></li>
            <li><a href="/h/04">常见问题</a></li>
            <li><a href="/h/05">名词解释</a></li>
            <li><a href="/h/06">产品介绍</a></li>
          </ul>
        </div>
        <div class="xs-zy-3">
          <div class="xs-zy-4">
            <div class="xs-zy4-1">
              <p><span class="xs-que">银联帐号</span></p>
              <p class="xs-que-1">注册与登录</p>

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <i class="xs-que-2"  data-index="1"></i>

                      <a  class="xs-que-3" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      如何开始我在微金所的第一笔投资？
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      您只需要简单的四步就能完成首次投资：<br>
                    （1）注册：通过微金所官网或APP注册您的微金所账户；<br>
                    （2）实名认证：按照相关法律规定，需要您输入姓名与身份证号进行实名认证；<br>
                    （3）绑定银行卡：认证完毕后，需要绑定您的银行卡并进行充值；<br>
                    （4）投资：选择自己喜欢的项目开始投资。
                    </div>
                  </div>
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <i  class="xs-que-2" data-index="1"></i>
                      <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        我如何注册成为微金所用户？
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      您可以点击页面顶部导航条上的“免费注册”按钮或通过微金所手机APP方便地进行注册。您的手机号是您在微金所的身份标识，请您牢记于心。注册成功后，您可以绑定您的常用电子邮箱，方便您找回密码。
                    </div>
                  </div>
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <i  class="xs-que-2" data-index="1"></i>
                      <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      我忘记了登录密码该怎么办？
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      您可以在登录页面处点击“找回密码”按钮，然后在弹出窗口内填写注册时的手机号或绑定的电子邮箱，并点击获取验证码。在收到短信或邮件后，请将验证码填写至相应位置，或点击邮件中的重新设置密码链接，设置新的登录密码。这样就可以用新的密码登录微金所平台了。
                    </div>
                  </div>
                  <div class="panel-heading" role="tab" id="headingFout">
                    <h4 class="panel-title">
                      <i  class="xs-que-2" data-index="1"></i>
                      <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFout" aria-expanded="false" aria-controls="collapseFout">
                        设置登陆密码有什么要求吗？
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFout">
                    <div class="panel-body">
                      登陆密码必须包含数字和英文字母（区分大小写），至少8位字符，不超过16位字符。
                    </div>
                  </div>
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <i  class="xs-que-2" data-index="1"></i>
                      <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        为什么要绑定手机？
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      通过绑定手机，您可以提高您的微金所账户的安全级别，并及时得到您在微金所进行操作的信息，随时掌控账户动态。并且，手机号是您账户信息的最有效的认证工具，可完成忘记密码时重置登陆密码等操作。
                    </div>
                  </div>
                  <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                      <i  class="xs-que-2" data-index="1"></i>
                      <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        为什么要做实名认证？
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      实名认证的目的是验证您所绑定的银行卡是否属于您本人。为了确保您的资金安全，您需要在首次充值前进行实名认证，以便于系统在您充值与提现时校验您的身份。实名认证仅需输入您的身份证号及姓名，全过程仅需10秒钟，非常简单方便。
                    </div>
                  </div>
                </div>
              </div>
                <p class="xs-que-1">充值与提现</p>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                      <h4 class="panel-title">
                        <i  class="xs-que-2" data-index="1"></i>
                        <a  class="xs-que-3" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        为何需要充值？如何充值？
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                      <div class="panel-body">
                        在您投资之前，您的账户需要进行充值。微金所是一个“不碰钱”的金融交易平台，并不实际存放投资者和借款人的资金。微金所与上海银联已实现合作，上海银联对您在微金所账户中的资金进行管理，
                        并对您账户内的资金流向进行全方位的专业监管，保障您的投资安全。当您需要为您的账户充值时，只需以下3步即可完成： <br>
                        （1）登录您的账户，进入“个人中心”，点击“充值”按钮；<br>
                        （2）输入您想要充入账户的充值金额；<br>
                        （3）页面跳转到第三方支付平台进行支付即可。<br>
                        成功付款后，系统将显示成功付款并跳转至微金所页面，显示充值成功。您还可以通过“交易记录”查看充值的具体金额及历史记录。
                      </div>
                    </div>
                    <div class="panel-heading" role="tab" id="headingEight">
                      <h4 class="panel-title">
                        <i  class="xs-que-2" data-index="1"></i>
                        <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                          为什么网上银行充值成功，但是微金所帐号里面的余额却没有增加？
                        </a>
                      </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                      <div class="panel-body">
                        由于在同一时间使用相同第三方充值账户端口进行充值的人可能非常多，在某些时候会造成网银显示金额与微金所账号显示金额不同步的情况。<br>如果您遇到这种情况，请您将网银付款成功的页面截图，然后刷新微金所账户页面。<br>
                        如果刷新未能解决问题，请您致电客服4006-89-4006，客服专员会指导您发送截图并马上处理您的问题。<br>
                        需要您注意的是，在支付页面完成充值后，请点击“返回商户”链接，返回微金所网站，而不要直接关闭支付页面窗口，否则会造成充值金额延后到账的情况。
                      </div>
                    </div>
                    <div class="panel-heading" role="tab" id="headingNine">
                      <h4 class="panel-title">
                        <i  class="xs-que-2" data-index="1"></i>
                        <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        我忘记了登录密码该怎么办？
                        </a>
                      </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                      <div class="panel-body">
                        您可以在登录页面处点击“找回密码”按钮，然后在弹出窗口内填写注册时的手机号或绑定的电子邮箱，并点击获取验证码。在收到短信或邮件后，请将验证码填写至相应位置，或点击邮件中的重新设置密码链接，设置新的登录密码。这样就可以用新的密码登录微金所平台了。
                      </div>
                    </div>
                    <div class="panel-heading" role="tab" id="headingTen">
                      <h4 class="panel-title">
                        <i  class="xs-que-2" data-index="1"></i>
                        <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                          设置登陆密码有什么要求吗？
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                      <div class="panel-body">
                        登陆密码必须包含数字和英文字母（区分大小写），至少8位字符，不超过16位字符。
                      </div>
                    </div>
                    <div class="panel-heading" role="tab" id="headingEleven">
                      <h4 class="panel-title">
                        <i  class="xs-que-2" data-index="1"></i>
                        <a  class="xs-que-3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                          为什么要绑定手机？
                        </a>
                      </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                      <div class="panel-body">
                        通过绑定手机，您可以提高您的微金所账户的安全级别，并及时得到您在微金所进行操作的信息，随时掌控账户动态。并且，手机号是您账户信息的最有效的认证工具，可完成忘记密码时重置登陆密码等操作。
                      </div>
                    </div>
                    <div class="panel-heading" role="tab" id="headingTwelve">
                      <h4 class="panel-title">
                        <i  class="xs-que-2" data-index="1"></i>
                        <a  class="xs-que-3"  class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                          为什么要做实名认证？
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                      <div class="panel-body">
                        实名认证的目的是验证您所绑定的银行卡是否属于您本人。为了确保您的资金安全，您需要在首次充值前进行实名认证，以便于系统在您充值与提现时校验您的身份。实名认证仅需输入您的身份证号及姓名，全过程仅需10秒钟，非常简单方便。
                      </div>
                    </div>
                  </div>
                </div>

            </div>







          </div>
        </div>
      </div>

    </div>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(".xs-que-3").click(function(){
        $(".xs-que-2").css("background", "url('/images/001.png')");
        $(this).prev().css("background", "url('/images/002.png')");

        // if ($(this).prev().data("index") == 1){
        //   $(this).prev().css("background", "url('/images/002.png')");
        //   $(this).prev().data("index", "2");
        // } else {
        //   $(this).prev().css("background", "url('/images/001.png')");
        //   $(this).prev().data("index", "1");
        // };
      });
    </script>
  </body>
</html>
