<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/gy-stylesheets/style.css' />
  <title>微金所-成就亿万人的信用价值</title>
</head>

<body>
  <%-include("lz_h_head")%>
    <!-- 关于我们 -->
    <img class="gy-png" src="/images/about-header.jpg" alt="">
    <div class="gy-boxbg">
      <div class="gy-container">
        <div class="gy-menubox">
          <!-- 菜单栏 -->
          <div class="gy-leftbox">
            <ul>
              <li><a href="/l/gltd">公司简介</li>
                <li ><a href="/l/gltd">管理团队</a></li>
                <li style="border-left: 3px #dd2c37 solid;background:#fff"><a href="/l/dstd">董事团队</a></li>
                <li><a href="/l/fzlc">发展历程</a></li>
                <li><a href="/l/hzhb">合作伙伴</a></li>
                <li><a href="/l/yqlj">友情链接</a></li>
                <li><a href="/l/lxwm">联系我们</a></li>
            </ul>
          </div>
          <!--右侧盒子-->
          <div>
            <div class="gy-rightbox">


    <!-- 董事团队 -->
    <div class="gy-dstd">
      <ul class="gy-glcon">
        <ul style="list-style-type: square;">
          <li>
            <p class="gy-gltext-h4">
              王光
              <strong>
                              微金所董事
                        </strong>
            </p>
          </li>
          <li>
            <p class="gy-gltext-h5">现任海航金融板块金融创新部副总经理；清华大学及香港中文大学FMBA；<br> 历任长江租赁有限公司业务主管；海航金融板块信息管理部总经理助理、金融数据部副总经理。
            </p>
          </li>
        </ul>
      </ul>

      <ul class="gy-glcon">
        <ul style="list-style-type: square;">
          <li>
            <p class="gy-gltext-h4">
              王禄誾
              <strong>
                              微金所董事
                        </strong>
            </p>
          </li>
          <li>
            <p class="gy-gltext-h5">北京大学光华管理学院EMBA；创立多家公司并实现资本市场对接；<br> 收购拥有超过30年历史的全球性商品采购代理商林麦集团并在香港证券交易所主办上市。
            </p>
          </li>
        </ul>
      </ul>

      <ul class="gy-glcon">
        <ul style="list-style-type: square;">
          <li>
            <p class="gy-gltext-h4">
              宁远喜
              <strong>
                              微金所董事
                        </strong>
            </p>
          </li>
          <li>
            <p class="gy-gltext-h5">宝新能源（股票代码：000690）董事会董事长；宝新能源董事会战略发展委员会主任委员、提名委员会委员；<br> 宝新能源子公司广东宝新资产管理有限公司执行董事、广东信用宝征信管理有限公司执行董事；
              <br> 第十一届、第十二届全国人大代表、广东上市公司协会会长；
              <br> 宝新融资租赁有限公司董事长；清华大学五道口金融学院全球金融DBA；
              <br> 国金基金管理有限公司董事、广东南粤银行股份有限公司董事、百合网股份有限公司董事。
            </p>
          </li>
        </ul>
      </ul>

      <ul class="gy-glcon">
        <ul style="list-style-type: square;">
          <li>
            <p class="gy-gltext-h4">
              孙晓蔷
              <strong>
                              微金所董事
                        </strong>
            </p>
          </li>
          <li>
            <p class="gy-gltext-h5">曾任职视觉中国副总裁、执行董事；曾任职于长江电力股份公司，中国长江三峡集团；<br> 在资本运作、企业战略发展领域拥有多年的管理经验。
            </p>
          </li>
        </ul>
      </ul>

      <ul class="gy-glcon">
        <ul style="list-style-type: square;">
          <li>
            <p class="gy-gltext-h4">
              刘力
              <strong>
                              微金所董事
                        </strong>
            </p>
          </li>
          <li>
            <p class="gy-gltext-h5">北京大学光华管理学院教授、博士生导师；曾在中国国际金融股份有限公司、<br> 交通银行、中国机械设备工程有限公司等企业担任独立董事。
            </p>
          </li>
        </ul>
      </ul>

      <ul class="gy-glcon">
        <ul style="list-style-type: square;">
          <li>
            <p class="gy-gltext-h4">
              周军
              <strong>
                              微金所董事
                        </strong>
            </p>
          </li>
          <li>
            <p class="gy-gltext-h5">深圳市创新投资集团华北片区副总经理；山西红土创投基金总经理；<br> 参与过超过90家企业上市及定向增发投资项目。
            </p>
          </li>
        </ul>
      </ul>

      <ul class="gy-glcon">
        <ul style="list-style-type: square;">
          <li>
            <p class="gy-gltext-h4">
              覃韦杰
              <strong>
                              微金所董事
                        </strong>
            </p>
          </li>
          <li>
            <p class="gy-gltext-h5">深圳同创伟业资产管理股份有限公司董事总经理；<br> 长江商学院MBA；具有丰富的VC企业投资经验。
            </p>
          </li>
        </ul>
      </ul>

      <ul class="gy-glcon">
        <ul style="list-style-type: square;">
          <li>
            <p class="gy-gltext-h4">
              林强
              <strong>
                              微金所董事
                        </strong>
            </p>
          </li>
          <li>
            <p class="gy-gltext-h5">北京航空航天大学博士后；曾任职富士通研究开发中心及信威通信产业集团研究员，<br> 在大数据方面有较深的研究。
            </p>
          </li>
        </ul>
      </ul>
    </div>



    </div>
    </div>
    </div>
    </div>
    </div>




    <%-include("lz_foot")%>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      var ul = $('ul li');
      ul.click(function() {
        location.href = $(this).find('a')[0].href;
      });
    </script>


</body>

</html>
