<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/gy-stylesheets/style.css' />
  <title>微金所-成就亿万人的信用价值</title>
</head>

<body>
  <%-include("lz_h_head")%>
    <!-- 关于我们 -->
    <img class="gy-png" src="/images/about-header.jpg" alt="">
    <div class="gy-boxbg">
      <div class="gy-container">
        <div class="gy-menubox">
          <!-- 菜单栏 -->
          <div class="gy-leftbox">
            <ul>
              <li><a href="/l/gsjj">公司简介</a></li>
              <li style="border-left: 3px #dd2c37 solid;background:#fff"><a href="/l/gltd">管理团队</a></li>
              <li><a href="/l/dstd">董事团队</a></li>
              <li><a href="/l/fzlc">发展历程</a></li>
              <li><a href="/l/hzhb">合作伙伴</a></li>
              <li><a href="/l/yqlj">友情链接</a></li>
              <li><a href="/l/lxwm">联系我们</a></li>
            </ul>
          </div>
          <!--右侧盒子-->
          <div>
            <div class="gy-rightbox">


              <!-- 管理团队 -->
              <div class="gy-gltd">
                <ul class="gy-glcon">
                  <img src="/images/about9.jpg" alt="">
                  <ul style="list-style-type: square;">
                    <li>
                      <p class="gy-gltext-h4">
                        范忠民
                        <strong>董事长兼CEO</strong>
                      </p>
                    </li>
                    <li>
                      <p class="gy-gltext-h5">北大光华EMBA高级工商管理硕士；北大光华EMBA金融协会秘书长；中微（北京）信用管理有限公司董事长； 中国微金融国际投资管理有限公司执行合伙人；北京丰润泰投资基金管理公司总裁； 全球性慈善服务组织国际狮子会资深会员；"玄奘之路"戈6队员。
                      </p>
                    </li>
                  </ul>
                </ul>

                <ul class="gy-glcon">
                  <img src="/images/about11.jpg" alt="">
                  <ul style="list-style-type: square;">
                    <li>
                      <p class="gy-gltext-h4">
                        张继业
                        <strong>董事/合伙人</strong>
                      </p>
                    </li>
                    <li>
                      <p class="gy-gltext-h5">北京大学光华管理学院MBA；曾经在上海通用东岳动力总成公司任工程师、公司成本核算小组成员； 在中国机械工业集团公司经营管理部任经营管理主管；在弘泰恒业投资有限责任公司任董事长专业秘书； 在泰康人寿不动产投资平台-泰康之家投资有限公司任人力资源部负责人； 在安信证券直投基金公司-乾能投资管理有限公司任运营总监等职。
                      </p>
                    </li>
                  </ul>
                </ul>

                <ul class="gy-glcon">
                  <img src="/images/about12.jpg" alt="">
                  <ul style="list-style-type: square;">
                    <li>
                      <p class="gy-gltext-h4">
                        郭靖
                        <strong>副总裁</strong>
                      </p>
                    </li>
                    <li>
                      <p class="gy-gltext-h5">金融领域从业10余年；银行、保险、前瞻企管顾问公司；世界华人保险大会执委会委员； 国际龙奖年会颁奖典礼主持人；国际认证财务顾问师。
                      </p>
                    </li>
                  </ul>
                </ul>

                <ul class="gy-glcon">
                  <img src="/images/about9.jpg" alt="">
                  <ul style="list-style-type: square;">
                    <li>
                      <p class="gy-gltext-h4">
                        董伊
                        <strong>首席风险官</strong>
                      </p>
                    </li>
                    <li>
                      <p class="gy-gltext-h5">深厚的金融学和经济管理教育背景；15年银行信贷风险管理岗和基层岗经历；10年第三方财富公司高管经历； 金融行业风控信贷经验丰富，深刻认识风控职能的重要性； 现任微金所首席风险官。
                      </p>
                    </li>
                  </ul>
                </ul>


                <ul class="gy-glcon">
                  <img src="/images/about14.jpg" alt="">
                  <ul style="list-style-type: square;">
                    <li>
                      <p class="gy-gltext-h4">
                        隋月恒
                        <strong>首席营销官</strong>
                      </p>
                    </li>
                    <li>
                      <p class="gy-gltext-h5">14年互联网领域市场营销经验；曾先后效力于联众、TOM网、中国三星、21世纪不动产等知名企业； 曾作为中国三星08奥运项目负责人，负责奥运品牌营销、三星奥运火炬手招募等工作； 曾作为创始团队成员加入21世纪不动产酷房网，并主要负责商务合作、市场营销工作； 富有创业热情，致力于为梦想而奋斗，2014年加入微金所。
                      </p>
                    </li>
                  </ul>
                </ul>

              </div>




            </div>
          </div>
        </div>
      </div>
    </div>




    <%-include("lz_foot")%>
<script src="/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript">
  var ul = $('ul li');
  ul.click(function() {
    location.href = $(this).find('a')[0].href;
  });
</script>

</body>

</html>
