<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/gy-stylesheets/style.css' />
  <title>微金所-成就亿万人的信用价值</title>
</head>

<body>
  <%-include("lz_h_head")%>
    <!-- 关于我们 -->
    <img class="gy-png" src="/images/about-header.jpg" alt="">
    <div class="gy-boxbg">
      <div class="gy-container">
        <div class="gy-menubox">
          <!-- 菜单栏 -->
          <div class="gy-leftbox">
            <ul>
              <li><a href="/about/gsjj">公司简介</a></li>
              <li><a href="/about/gltd">管理团队</a></li>
              <li><a href="/about/dstd">董事团队</a></li>
              <li><a href="/about/fzlc">发展历程</a></li>
              <li><a href="/about/hzhb">合作伙伴</a></li>
              <li><a href="/about/yqlj">友情链接</a></li>
              <li><a href="/about/lxwm">联系我们</a></li>
            </ul>
          </div>
          <!--右侧盒子-->
          <div class="gy-rightbox">
            <!-- 发展历程 -->
            <div class="gy-fzlc">
              <p>
                <img src="/images/about-p1.jpg" alt="">
              </p>
              <p>
                <img src="/images/about-p2.jpg" alt="">
              </p>
              <p>
                <img src="/images/about-p3.jpg" alt="">
              </p>
              <p>
                <img src="/images/about-p4.jpg" alt="">
              </p>
              <p>
                <img src="/images/about-p5.jpg" alt="">
              </p>
              <p>
                <img src="/images/about-p6.jpg" alt="">
              </p>
              <p>
                <img src="/images/about-p7.jpg" alt="">
              </p>
              <p>
                <img src="/images/about-p8.jpg" alt="">
              </p>
            </div>



          </div>
        </div>
      </div>
    </div>





    <%-include("lz_foot")%>


</body>

</html>
