<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/gy-stylesheets/style.css' />
  <title>微金所-成就亿万人的信用价值</title>
</head>

<body>
  <%-include("lz_h_head")%>
    <!-- 关于我们 -->
    <img class="gy-png" src="/images/about-header.jpg" alt="">
    <div class="gy-boxbg">
      <div class="gy-container">
        <div class="gy-menubox">
          <!-- 菜单栏 -->
          <div class="gy-leftbox">
            <ul>
              <li><a href="/l">公司简介</a></li>
              <li><a href="/l/gltd">管理团队</a></li>
              <li><a href="/l/dstd">董事团队</a></li>
              <li><a href="/l/fzlc">发展历程</a></li>
              <li><a href="/l/hzhb">合作伙伴</a></li>
              <li><a href="/l/yqlj">友情链接</a></li>
              <li><a href="/l/lxwm">联系我们</a></li>
            </ul>
          </div>
          <!--右侧盒子-->
          <div class="gy-rightbox">



            <!-- 友情链接 -->
            <div class="gy-yqlj">
              <p>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s1"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s2"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s3"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s4"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s5"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s6"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s7"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s8"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s9"></span>
                </a>
                <a href="http://www.picc.com.cn/" target="_blank">
                  <span class="gy-s10"></span>
                </a>
              </p>

              <ul class="gy-link">
                <p class="gy-link-p">
                  <a href="">网贷天空</a><br>
                  <a href="">web网财</a><br>
                  <a href="">网贷天眼</a><br>
                  <a href="">无锡贷款</a><br>
                  <a href="">网贷指南</a><br>
                  <a href="">网贷平台排名</a><br>
                </p>
                <p class="gy-link-p">
                  <a href="">网贷中心</a><br>
                  <a href="">网贷之星</a><br>
                  <a href="">京北金融</a><br>
                  <a href="">第二客栈</a><br>
                  <a href="">互联网金融</a><br>
                  <a href="">网贷点评网</a><br>
                </p>
                <p class="gy-link-p">
                  <a href="">返利800</a><br>
                  <a href="">网贷前沿</a><br>
                  <a href="">网e家园</a><br>
                  <a href="">网贷互联</a><br>
                  <a href="">网贷导航网</a><br>
                  <a href="">value500投资导航</a><br>
                </p>
                <p class="gy-link-p">
                  <a href="">网贷天地</a><br>
                  <a href="">网贷百科</a><br>
                  <a href="">网贷大本营</a><br>
                  <a href="">网贷公社</a><br>
                  <a href="">网贷帮手</a><br>
                </p>
                <p class="gy-link-p">
                  <a href="">搜狐互联网金融</a><br>
                  <a href="">网贷世界</a><br>
                  <a href="">棕榈树</a><br>
                  <a href="">第一网贷导航</a><br>
                  <a href="">搜狐房贷计算器</a><br>
                </p>

              </ul>
            </div>



          </div>
        </div>
      </div>
    </div>





    <%-include("lz_foot")%>

</body>

</html>
