<!-- 页面底部。有版心，。。。。 -->
  <head>
    <link rel="stylesheet" href="/font_picture/iconfont.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/lz_css.css">
  </head>
<div class="lz-body-foot">
  <div class="connect lz-con-foot">
    <div class="lz-foot-wjs">
      <h1><i class="icon iconfont icon-wxbbiaowang"></i> 微金所</h1>
      <div class="lz-foot-wjs-tel">
        4006-89-4006
        010-53563799
      </div>
      <div class="lz-foot-wjs-tall">
        <h3><i class="icon iconfont icon-iconfontfuwushichang"></i> 联系客服</h1>
          <h3>关注我们：
            <i class="icon iconfont icon-iconfontgongyichongwu"></i>
            <i class="icon iconfont icon-gerenshimingrz"></i>
          </h1>
          <div class="lz-foot-wjs-tall-con">
            <img src="/images/gswj.png" alt="工商管理">
          </div>
        </div>
    </div>
    <div class="lz-foot-gyw">
      <dl>
        <dt>关于我们</dt>
        <dd><a target="_blank" href="/about/">公司介绍</a></dd>
        <dd><a target="_blank" href="/about/team">管理团队</a></dd>
        <dd><a target="_blank" href="/about/cooperation">合作伙伴</a></dd>
        <dd><a target="_blank" href="/about/firendship">友情链接</a></dd>
        <dd><a target="_blank" href="/about/contact">联系我们</a></dd>
      </dl>
      <dl>
        <dt>最新动态</dt>
        <dd><a target="_blank" href="/news/#wjs-news-media">媒体报道</a></dd>
        <dd><a target="_blank" href="/news/">公司动态</a></dd>
        <dd><a target="_blank" href="/news/#wjs-news-rate">利率报告</a></dd>
        <dd><a target="_blank" href="/news/#wjs-news-industryhis">更新历史</a></dd>
      </dl>
      <dl>
        <dt>帮助中心</dt>
        <dd><a target="_blank" href="/guide/greenhand">新手指引</a></dd>
        <dd><a target="_blank" href="/security">安全保障</a></dd>
        <dd><a target="_blank" href="/guide">操作指南</a></dd>
        <dd><a target="_blank" href="/guide/vip-investor">VIP投资人</a></dd>
      </dl>
    </div>
    <div class="lz-foot-huh">
      <h1>合作伙伴</h1>
      <ul>
        <li><i class="icon iconfont icon-iconfontfangzhipige"></i></li>
        <li><i class="icon iconfont icon-iconfontfangzhipige"></i></li>
        <li><i class="icon iconfont icon-iconfontfangzhipige"></i></li>
        <li><i class="icon iconfont icon-iconfontfangzhipige"></i></li>
        <li><i class="icon iconfont icon-iconfontfangzhipige"></i></li>
        <li><i class="icon iconfont icon-iconfontfangzhipige"></i></li>
        <li><i class="icon iconfont icon-iconfontfangzhipige"></i></li>
        <li><i class="icon iconfont icon-iconfontfangzhipige"></i></li>
      </ul>
    </div>



    <div class="clearfix lz-foot-foot">
      <h4>
        <ul class="clearfix">
          <li>我要理财</li>
          <li>我要借款</li>
          <li>忘记密码</li>
          <li>如何提现</li>
          <li>登录 | 注册</li>
          <li>©版权所有©深圳微金所金融信息服务有限公司 粤ICP备 16000732号-1    京公网安备 11010802024696号</li>
        </ul>
      </h3>
      <ul>
        <li><i class="icon iconfont icon-huanhuobz"></i></li>
        <li><i class="icon iconfont icon-huanhuobz"></i></li>
        <li><i class="icon iconfont icon-huanhuobz"></i></li>
        <li><i class="icon iconfont icon-huanhuobz"></i></li>
        <li><i class="icon iconfont icon-huanhuobz"></i></li>
        <li><i class="icon iconfont icon-huanhuobz"></i></li>
        <li><i class="icon iconfont icon-huanhuobz"></i></li>
        <li><i class="icon iconfont icon-huanhuobz"></i></li>
      </ul>
    </div>
  </div>
</div>
