
    <link rel="stylesheet" href="/stylesheets/h_style.css">
    <link rel="stylesheet" type="text/css" href="/h_font/iconfont.css">

    <div class="xs-top">
      <div class="xs-w">
        <div class="xs-left">
          <span class="xs-left-1">
            <i class="iconfont icon-dianhua1"></i>
            客服电话：4006 / 010-53563799/ (9:00~21:00)
          </span>
          <span class="xs-left-2">|</span>
          <span class="xs-left-1">
            <a href="#">
              <i class="iconfont icon-kefu"></i>
              在线客服
            </a>
          </span>
          <span class="xs-left-2">|</span>
          <span class="xs-left-1">
            <a class="xs-img1" href="#">
                <i class="iconfont icon-dianhua"></i>
              移动客户端
            <img src="/images/app-qrcode.jpg" alt="" class="xs-img">
            </a>
          </span>
          <span class="xs-left-2">|</span>
          <span class="xs-left-1">
            <a class="xs-img2 xs-link" href="#">
              <i class="iconfont icon-weixin"></i>
              微信公众号二维码
            <img src="/images/wx.jpg" alt="" class="xs-img3">
            </a>
          </span>
          <span class="xs-left-2">|</span>
          <span class="xs-left-1">
            <a href="#">
              <i class="iconfont icon-qiandai"></i>
              财富登录
            </a>
          </span>
          <span class="xs-left-2">|</span>
        </div>
        <div class="xs-right">
          <a class="xs-right-1" href="#">进入存管专区</a>
          <a href="#">帮助中心</a>
          <span class="xs-left-2">|</span>
          <a href="#">注册</a>
          <a href="#">登录</a>

        </div>

      </div>

    </div>
    <div class="xs-top-1">
      <div class="xs-w">
        <div class="xs-logo">
          <a href="#">
            <img src="/images/logo.png" alt="">
          </a>
          <a class="xs-logo-1" href="#">
            <img src="/images/anniversary.png" alt="">
          </a>

        </div>
        <div class="xs-menu">
          <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">我要投资</a></li>
            <li><a href="#">安全保障</a></li>
            <li><a href="#">新手专区</a></li>
            <li><a href="#">新闻公告</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">
              <span class="xs-menu-1"></span>
              我的账户
            </a></li>
          </ul>

        </div>


      </div>

    </div>
    <div class="xs-ding">
      <a href="#">
        <i class="iconfont icon-kefu"></i>
        在线服务
      </a>
    </div>

    <!-- <div class="xs-foot">
      <div class="xs-w xs-foot-1">
        <div class="xs-foot-2">
          <img src="/images/logo-1.png" alt="">
          <h3>
            400-89-4006
            <br>
            010-53563799
          </h3>
          <p>
            <span>服务热线(服务时间:9:00----21:00)</span>
            <br>
            <a href="#">
              <i class="iconfont icon-kefu"></i>
              在线客服
            </a>
            <br>
            关注我们：
            <i class="iconfont icon-weixin"></i>
          </p>

        </div>

      </div>

    </div> -->
