* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei","微软雅黑",Tahoma,Helvetica;
}
.xs-w {
  width: 1200px;
  margin: 0 auto;
}
.xs-top {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #ccc;
  color: #414141;
  font-size: 12px;
}
.xs-left {
  float: left;
}
.xs-left-1 {
  position: relative;
}
.xs-left-2 {
  color: #ccc;
  position: relative;
  top: -1px;
  padding: 0 7px;
}
.xs-left-1 > a {
  text-decoration: none;
  color: #414141;
}
.xs-right{
  float: right;
}
.xs-right  a{
  text-decoration: none;
  color: #414141;
}
 .xs-right-1 {
  display: inline-block;
  background: red;
  color: #fff !important;
  padding: 0 20px;
  margin-right: 10px;
}
.xs-img {
  display: none;
  position: absolute;
  left: -27px;
  top: 22px;
  z-index: 199;
}
.xs-img3 {
  width: 130px;
  display: none;
  position: absolute;
  left: -12px;
  top: 22px;
  z-index: 199;
}
.xs-left a:hover {
  color: #2a6496
}
.xs-right a:hover {
  color: #2a6496
}
.xs-link:hover {
  color: #414141 !important;
}
.xs-img1:hover .xs-img {
  display: block;
}
.xs-img2:hover .xs-img3 {
  display: block;
}
.xs-top-1 {
  height: 50px;
  padding: 18px 0;
}
.xs-logo {
  height: 50px;
  line-height: 50px;
  float: left;
}
.xs-logo-1 {
  height: 50px;
  display: inline-block;
  border-left: 1px solid #ccc;
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}
.xs-logo-1 > img {
  height: 57px;
  position: absolute;
  top: -7px;
  left: 15px;
  z-index: -1;
}
.xs-menu {
  height: 50px;
  line-height: 50px;
  float: right;
  font-size:18px;
}
.xs-menu ul li a {
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  padding: 15px 10px;
}
.xs-menu ul {
  list-style: none;
}
.xs-menu ul li {
  display: inline-block;
}
.xs-menu ul li a:hover {
    color: #2a6496;
  border-bottom: 3px solid #dd3137;
}
.xs-menu-1 {
  vertical-align: middle;
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url("/images/anonymous.jpg") center no-repeat;
  background-size: contain;
}
.xs-ding {
  position: fixed;
  width: 45px;
  height: 142px;
  background: #fff;
  border: 1px solid #a9aeb1;
  box-sizing: border-box;
  right: 3px;
  top:20%;
  font-size: 18px;
}
.xs-ding a {
  display: block;
  padding: 15px 10px;
  text-align: center;
  line-height: 1.25em;
  color:#555;
  text-decoration: none;
}
.xs-zy {
  background: #f3f3f3;
  padding: 15px 0;
}
.xs-zy-1 {
  background: #f3f3f3;
  border: 1px #e3e3e3 solid;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.xs-zy-2 {
  width: 18%;
  border-right: 1px #e3e3e3 solid;
  float: left;
}
.xs-zy-2 ul{
  list-style: none;
}
.xs-zy .xs-zy-1 .xs-zy-2 ul li a {
  text-decoration: none;
  color:inherit;
  font-size: 14px;

}
.xs-zy .xs-zy-1 .xs-zy-2 ul li  {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px #e3e3e3 solid;
  text-align: center;
  cursor: pointer;

}
.xs-zy .xs-zy-1 .xs-zy-2 ul li:hover {
  background: #fff;
  color:#428bca;
  border-left: 3px red solid;
}
.xs-zy-3 {
  width: 931px;
  background: #fff;
  display: table;
  padding: 25px;
  font-size: 14px;
}
.xs-zy-4 {
  width: 928px;
  z-index: 1;
  float: right;
}
.xs-zy-5 {
  height: 300px;
  border-bottom: 1px #e3e3e3 solid;
  background: url(/images/ng1.jpg) 77% center no-repeat;
  background-size: 38%;
  box-sizing: border-box;
  padding: 90px 55px;
}
.xs-zy-5 dl {
  color: #5e5e5e;
  margin-bottom: 10px;
}
.xs-zy-5 dl dt {
  line-height: 45px;
  font-size: 20px;
  background: url("/images/ng01.jpg") left center no-repeat;
  padding: 5px 0 0 35px;
  background-size: 20px;
}
.xs-zy-5 dl dd {
  font-size: 16px;
  line-height: 26px;
}
.xs-zy-5 a {
  line-height: 35px;
  background: #e43737;
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 35px;
  display: inline-block;
  width: 160px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
.xs-zy-6 {
  height: 300px;
  border-bottom: 1px #e3e3e3 solid;
  background: url(/images/ng2.jpg) 50px 18% no-repeat;
  margin: 40px 0 20px 0;
  background-size: 45%;
  box-sizing: border-box;
  padding: 90px 55px;
}
.xs-zy-6 dl {
  color: #5e5e5e;
  margin-bottom: 10px;
}
.xs-zy-6 dl dt {
  line-height: 45px;
  font-size: 20px;
  background: url("/images/ng02.jpg") right center no-repeat;
  padding: 5px 42px 0 45px;
  background-position-x: 6.2%;
  background-size: 23px;
  margin-left: 626px;
}
.xs-zy-6 dl dd {
  font-size: 16px;
  line-height: 26px;
  margin-left: 633px;
}
.xs-zy-6 a {
  line-height: 35px;
  background: #e43737;
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 35px;
  display: inline-block;
  width: 160px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-left: 633px;
}
.xs-zy-7 {
  height: 300px;
  border-bottom: 1px #e3e3e3 solid;
  background: url(/images/ng3.jpg) 71% center no-repeat;
  background-size: 53%;
  box-sizing: border-box;
  padding: 90px 55px;
}
.xs-zy-7 dl {
  color: #5e5e5e;
  margin-bottom: 10px;
}
.xs-zy-7 dl dt {
  line-height: 45px;
  font-size: 20px;
  background: url("/images/ng03.jpg") left center no-repeat;
  padding: 5px 0 0 35px;
  background-size: 20px;
}
.xs-zy-7 dl dd {
  font-size: 16px;
  line-height: 26px;
}
.xs-zy-7 a {
  line-height: 35px;
  background: #e43737;
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 35px;
  display: inline-block;
  width: 160px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
.xs-zy-8 {
  height: 300px;
  background: url(/images/ng4.jpg) 50px 18% no-repeat;
  margin: 40px 0 20px 0;
  background-size: 45%;
  box-sizing: border-box;
  padding: 90px 55px;
}
.xs-zy-8 dl {
  color: #5e5e5e;
  margin-bottom: 10px;
}
.xs-zy-8 dl dt {
  line-height: 45px;
  font-size: 20px;
  background: url("/images/ng04.jpg") right center no-repeat;
  padding: 5px 42px 0 45px;
  background-position-x: 6.2%;
  background-size: 23px;
  margin-left: 626px;
}
.xs-zy-8 dl dd {
  font-size: 16px;
  line-height: 26px;
  margin-left: 633px;
}
.xs-zy-8 a {
  line-height: 35px;
  background: #e43737;
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 35px;
  display: inline-block;
  width: 160px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-left: 633px;
}
.xs-zy2-1 {
  height: 308px;
}

.xs-zy2-tu {
  float: left;
  border: 1px solid #e3e3e3;
}
.xs-zy2-1 dl {
  padding: 0 0 0 40px;
  margin-top: 10px;
  float: left;
}
.xs-zy2-1 dl dt {
  font-size: 20px;
  padding: 0 0 6px 13px;
  color: #ff9201;
}
.xs-zy2-1 dl dd {
  font-size: 14px;
  line-height: 28px;
  border-bottom: 1px dashed #ccc;
  margin: 0;
  padding: 8px 15px;
  letter-spacing: 2px;
}
.xs-zy2-tu1 {
  float: right;
  max-width: 155px;
  width: 100%;
  padding-top: 20px;
}
.xs-zy-4 h2{
  padding: 35px 0 15px 0;
  font-size: 22px;
  font-weight: normal;
}
.xs-h2 {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #dd2c37;
  line-height: 8px;
  margin-right: 10px;
}
.xs-zy-4 p {
  line-height: 32px;
}
.xs-red {
  color: #f00;
}
.xs-orange {
  text-decoration: none;
  color: #ff9201;
}
.xs-h3 {
  padding: 35px 0 15px 0;
  font-size: 22px;
  font-weight: normal;
}
.xs-ul {
  list-style: none;
}
.xs-ul li {
  line-height: 32px;
}
.xs-li {
  padding-top: 10px;
}
.xs-span {
  font-size:14px;
  color: #666;
}
.xs-table {
  width: 100%;
  border: 1px #c6cbcf solid;
  font-size: 14px;
}
.xs-tr {
  background: #f2f2f2;
}
.xs-tr th {
  border-right: 1px solid #e0e3e5;
  padding: 13px 10px;
  color: #666;
  line-height: 26px;
  text-align: center;
}
.xs-tr1 {
  background: #fdfdfd;
}
.xs-tr1 td {
  border-right: 1px solid #e0e3e5;
  padding: 13px 10px;
  color: #666;
  line-height: 26px;
}
.xs-tr td {
  border-right: 1px #e0e3e5 solid;
  padding: 13px 10px;
  color: #666;
  line-height: 26px;
}
.xs-tr1 td:nth-child(2) {
  background: url("/images/g-icon1.png") right center no-repeat;
  background-position-x: 96%;
  padding-right: 50px;
}
.xs-tr1 td:nth-child(3) {
  background: url("/images/g-icon2.png") right center no-repeat;
  background-position-x: 94%;
}
.xs-tr td:nth-child(2) {
  background: url("/images/g-icon1.png") right center no-repeat;
  background-position-x: 96%;
  padding-right: 50px;
}
.xs-tr td:nth-child(3) {
  background: url("/images/g-icon2.png") right center no-repeat;
  background-position-x: 94%;
}
.xs-p {
  text-align: center;
  padding: 20px 0 50px 0;
}
.xs-zy3-1 ul{
  list-style: none;
}
.xs-vip-1 {
  height: 150px;
  border-bottom: 1px solid #ccc;
}
.xs-zy3-1 ul li img {
  width: 140px;
  float: left;
  padding-right: 20px;
}
.xs-vip {
  padding-top: 20px;
}
.xs-vip1 {
  text-align: left;
  padding: 30px 0 20px 0;
  color: #333;
  font-size: 20px;
}
.xs-vip2 {
  display: table;
  line-height: 28px;
  font-size: 14px;
  color: #666;
}
.xs-vip3 {
  padding: 40px 0 25px 0;
  text-align: center;
  color: #333;
  font-size: 20px;
}
.xs-vip-2 {
  text-align: center;
  float: left;
  width: 30%;
}
.xs-vip-2 li:nth-child(1) {
  height: 100px;
  margin-left: 65px;
}
.xs-vip4 {
  font-size: 15px;
  padding: 10px 0;
  display: inline-block;
  font-weight: bold;
  color: #333;
}
.xs-vip5 {
  text-align: left;
  color: #666;
  font-size: 14px;
  line-height: 28px;
}
.xs-table-1 {
  clear: both;
  padding-bottom: 50px;
  margin-bottom: 45px;
}
.xs-h4 {
  color: #333;
  font-size: 20px;
  text-align: center;
  padding: 40px 0 25px 0;
}
.xs-vip-3 table {
  border-top: 1px solid #d8e5ed;
  border-left: 1px solid #d8e5ed;
}
.xs-vip-4 {
  width: 150px;
  float: left;
}
.xs-table-1 table {
  border: 1px solid #d8e5ed;
  margin: 80px 0;
}
.xs-vip-3 table tr td {
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #d8e5ed;
  border-right: 1px solid #d8e5ed;
}
.xs-vip-3 table tbody {
  background: #f0f9ff;
}
.xs-vip-5 {
  width: 93px;
  float: left;
  border-left: none;
}
.xs-clearfix::after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.xs-clearfix {
  *zoom: 1;
}
.xs-p-1 {
  text-align: left;
  line-height: 28px;
  color: #666;
  padding: 20px 0;
}
.xs-h5 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-weight: normal;
}
.xs-h5-1 {
  font-size: 20px;
  display: inline-block;
  width: 140px;
  color: #333;
  background: #fff;
  position: relative;
  top: 12px;
}
.xs-vip-5 {
  position: relative;
}
.xs-vip-6 {
  float: left;
  padding-right: 20px;
  width: 140px;

}
.xs-vip-7 {
  position: absolute;
  top: -10px;
  left: 213px;
  text-align: left;
  padding: 30px 0 20px 0;
  font-size: 20px;
  color: #333;
  width: 233px;
}
.xs-vip-8 {
  position: absolute;
  top: 56px;
  left: 214px;
  width: 600px;
}
.xs-vip-9 {
  border-top: 1px solid #ccc;
  height: 170px;
  padding-top: 56px;
}
