* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica;
}

.gy-container a {
  color: inherit;
  text-decoration: none;
}

.gy-container a:hover {
  color: #428bca;
}

.gy-container {
  width: 1200px;
  margin: 0 auto;
}

.gy-top {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  color: #414141;
  line-height: 36px;
}

.gy-lefthead .gy-weixin:hover {
  cursor: pointer;
}

.gy-line {
  color: #ccc;
  padding: 0 7px;
  position: relative;
  top: -1px;
}

.gy-lefthead {
  float: left;
}

.gy-righthead {
  float: right;
}

.gy-righthead .gy-redhead {
  background: #d63536;
  color: #fff;
  padding: 0 20px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.gy-righthead .gy-redhead:hover {
  color: #fff;
}

.gy-ewm1 {
  display: none;
  position: absolute;
  z-index: 199;
  width: 120px;
  height: 130px;
  top: 25px;
  left: 864px;
}

.gy-lefthead .gy-weixin:hover .gy-ewm1 {
  display: block;
}

.gy-ewm2 {
  display: none;
  position: absolute;
  z-index: 199;
  width: 120px;
  height: 130px;
  top: 25px;
  left: 748px;
}

.gy-lefthead .gy-yidong:hover .gy-ewm2 {
  display: block;
}

nav .gy-container {
  padding: 10px 10px;
  height: 50px;
  line-height: 50px;
}

.gy-leftlogo1 {
  float: left;
  background-image: url("/images/gy-logo.png");
  height: 50px;
  width: 178px;
}

.gy-leftlogo2 {
  float: left;
  background-image: url(/images/anniversary.png);
  height: 70px;
  width: 85px;
  position: absolute;
  top: 37px;
  left: 542px;
}

.gy-logos {
  float: left;
  border-left: 1px solid #ccc;
  margin-left: 15px;
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
}

nav .gy-container {
  padding: 15px 0px;
}

ul li {
  list-style-type: none;
}

.gy-rightmenu {
  float: right;
}

.gy-rightmenu ul li {
  display: inline-block;
}

nav .gy-container .gy-rightmenu ul li a {
  font-size: 18px;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

nav .gy-container .gy-rightmenu ul li a:hover {
  border-bottom: 3px solid red;
}

nav .gy-container .gy-rightmenu ul li.gy-tou a:hover {
  border-bottom: none;
}

nav .gy-container .gy-rightmenu ul li a:active {
  border-bottom: 3px solid red;
}

nav .gy-container .gy-rightmenu ul li.gy-tou a:active {
  border-bottom: none;
}

.gy-toux {
  background: url("/images/anonymous.jpg") center no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
}

.gy-png {
  width: 100%;
  height: 275px;
}

.gy-menubox .gy-leftbox ul li {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #333;
  border: 1px #e3e3e3 solid;
  background: #f8f8f8;
  border-top: none;
  font-size: 14px;
    box-sizing: border-box;
}

.gy-menubox .gy-leftbox ul li:hover {
  background: #fff;
  border-left: 3px #dd2c37 solid;
  cursor: pointer;
  border-right: none;
  display: block;
  position: relative;
  color: #428bca;
}

.gy-menubox .gy-leftbox {
  float: left;
  width: 235px;;
}

.gy-menubox {
  background: #f3f3f3;
  border: 1px #e3e3e3 solid;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.gy-rightbox {
  width: 100%;
}

.gy-wjsbox {
  float: right;
  width: 965px;
  background: #fff;
  overflow: hidden;
}

.gy-boxbg {
  background: #f3f3f3;
  padding: 15px 0;
  overflow: hidden;
}

.gy-rightbox .gy-wjsbox p span {
  color: #666;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
}

img {
  outline: none;
  border: none;
}

.gy-rightbox .gy-wjsbox p span:hover {
  color: #dd2c37;
  border-bottom: 1px #dd2c37 solid;
  cursor: pointer;
}

.gy-guit {
  width: 942px;
  height: 23px;
  margin: 30px 30px 50px 30px;
  box-sizing: border-box;
}

.gy-guite {
  border: 1px #e3e3e3 solid;
  border-bottom: none;
  border-top: none;
}

.gy-bbox, .gy-pbox {
  margin-left: 30px;
}

.gy-bbox table {
  width: 1200px;
}

.gy-bbox table tbody tr.gy-tr1 td {
  float: left;
  height: 197px;
  text-align: center;
  line-height: 28px;
  color: #6d6e70;
  font-size: 14px;
}

.gy-bbox table tbody tr.gy-tr1 td p {
  font-size: 16px;
  border-bottom: 1px #e3e3e3 solid;
  width: 100%;
  line-height: 30px;
  padding-top: 15px;
  margin-bottom: 6px;
}

.gy-bbox table {
  margin-top: 50px;
}

.gy-bbox table {
  margin-bottom: 100px;
  width: 100%;
}

.gy-bbox table tbody tr td:nth-child(1) {
  width: 260px;
}

.gy-bbox table tbody tr td:nth-child(2) {
  width: 200px;
  padding: 0 60px;
}

.gy-bbox table tbody tr td:nth-child(3) {
  width: 260px;
}

.gy-bbox table tbody tr.gy-tr2 td {
  float: left;
  height: 197px;
  text-align: center;
  line-height: 28px;
  color: #6d6e70;
  font-size: 14px;
}

.gy-bbox table tbody tr.gy-tr2 td p {
  text-align: left;
  font-size: 14px;
  width: 100%;
  line-height: 30px;
  padding-top: 15px;
  margin-bottom: 6px;
}

.gy-orange {
  color: orange;
}

.gy-blue {
  color: #428bca !important;
}

.gy-msg {
  color: #686868;
}

.gy-m2 {
  padding: 15px 0;
}

.gy-msg .gy-m2 dt {
  font-size: 20px;
  padding-left: 10px
}

.gy-msg dl dt {
  padding-bottom: 10px;
}

.gy-msg .gy-m2 dt i {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #dd2c37;
  position: relative;
  top: 12px;
  right: 7px;
}

.gy-mm1 {
  font-size: 16px;
  padding-top: 15px;
}

dt {
  font-weight: 700;
}

dt, dd {
  line-height: 20px;
}

.gy-imglogo {
  position: relative;
  top: 7px;
}

.gy-mm4 {
  padding: 40px 0;
  font-size: 20px;
}

.gy-mm5 {
  text-align: center;
}

.gy-time {
  background: url("/images/time-bg1.png") no-repeat;
  vertical-align: top;
  background-size: contain;
  color: #e3e3e3;
  padding-top: 20px;
  background-position-x: 65px;
  width: 84px !important;
}

.gy-pbox table tbody tr td p.gy-text-h4 {
  color: #dd2c37;
  font-size: 20px;
  line-height: 38px;
  padding-top: 20px;
  text-align: left;
  padding-left: 233px;
}

.gy-pbox table tbody tr td p.gy-text-h4 strong.gy-text-h5 {
  color: #666;
  font-size: 16px;
  padding-top: 15px;
  font-weight: 100;
}

.gy-text-js {
  background: #fcfcfc;
  padding: 20px 0 25px 30px;
  width: 787px;
}

.gy-pbox table tbody tr td.gy-text-js span img {
  padding: 0 70px;
  float: left;
}

.gy-ulbox li {
  display: inline-block;
  margin: 0 40px;
}

.gy-ulbox li a img {
  width: 230px;
  float: left;
}

.gy-show>div {
  display: none;
}

.gy-show>div.gy-active {
  display: block;
}

.gy-gltd {
  background: #fff;
  display: table;
  padding: 25px;
  font-size: 14px;
}


.gy-gltd ul.gy-glcon {
  height: 250px;
}

.gy-gltd ul.gy-glcon img {
  border: 1px #e3e3e3 solid;
  padding: 5px;
  float: left;
  margin-right: 20px;
  max-width: 150px;
  width: 100%;
}

.gy-gltd ul.gy-glcon ul {
  margin-bottom: 90px;
  display: inline-block;
  float: left;
  padding-top: 5px;
  width: 728px;
}

.gy-gltext-h4 {
  font-size: 22px;
  color: #333;
  border-bottom: 1px #e3e3e3 solid;
  padding-bottom: 15px;
}

.gy-gltext-h4 strong {
  font-size: 16px;
  color: #666;
  padding-left: 10px;
  display: inline-block;
}

.gy-gltext-h5 {
  color: #666;
  padding-top: 15px;
  line-height: 28px;
}

.gy-dstd {
  background: #fff;
  display: table;
  padding: 25px;
  font-size: 14px;
  width: 909px;
}

.gy-dstd ul.gy-glcon {
  padding-bottom: 40px;
}

.gy-fzlc {
  text-align: center;
  background: #fff;
  display: table;
  padding: 25px 27px;
  font-size: 14px;
}

.gy-yqlj {
  background: #fff;
  display: table;
  padding: 25px;
  font-size: 14px;
  width: 909px;
  padding-bottom: 15%;
}

.gy-s1 {
  background: url("/images/firendship1.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s2 {
  background: url("/images/firendship2.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s3 {
  background: url("/images/firendship3.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s4 {
  background: url("/images/firendship4.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s5 {
  background: url("/images/firendship5.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s6 {
  background: url("/images/firendship6.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s7 {
  background: url("/images/firendship7.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s8 {
  background: url("/images/firendship8.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s9 {
  background: url("/images/firendship9.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-s10 {
  background: url("/images/firendship10.jpg") no-repeat center center;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px #e3e3e3 solid;
  margin: 0 10px 25px;
}

.gy-link {
  margin-top: 15px;
}

.gy-link-p {
  float: left;
  margin: 0 43px;
  line-height: 30px;
  color: #666;
}

.gy-hzhb {
  background: #fff;
  display: table;
  padding: 25px;
  font-size: 14px;
}

.gy-hztext {
  text-align: center;
  color: #4fc3f4;
  font-size: 24px;
}

.gy-title {
  text-align: center;
}

.gy-hzhb .gy-title span {
  width: 120px;
  display: inline-block;
  text-align: center;
  margin: 15px 0 10px 0;
  font-size: 16px;
}

.gy-hzhb .gy-title span:hover {
  color: #ff9913;
  cursor: pointer;
}

.gy-titlel {
  border-left: 1px #e3e3e3 solid;
  border-right: 1px #e3e3e3 solid;
}

.gy-text-1 {
  border-bottom: 1px #e3e3e3 solid;
  padding-bottom: 10px;
  margin: 20px 0;
  overflow: hidden;
}

.gy-text-2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding-bottom: 15px;
}

.gy-text-3 {
  color: #666;
  line-height: 26px;
  display: -webkit-box;
}

.gy-img-1 {
  float: left;
  width: 170px;
  text-align: left;
  padding-top: 20px;
  padding-right: 28px;
}

.gy-text-4 {
  border-bottom: 1px #e3e3e3 solid;
  padding-bottom: 10px;
  margin: 20px 0;
  overflow: hidden;
}

.gy-h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

.gy-h5 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
}
.gy-text-5 {
  border-bottom: 1px #e3e3e3 solid;
    padding-bottom: 10px;
    margin: 20px 0;
    overflow: hidden;
}
.gy-img-2 {
  float: left;
    width: 170px;
    text-align: left;
}
.gy-img-2  img{
  width:80%;
}
.gy-img-3 {
  margin-top: 0;
margin-right: 10px;
max-width: 132px;
height: auto;
}
.gy-lxwm {
  background: #fff;
    display: table;
    padding: 25px;
    font-size: 14px;
}
.gy-lxwm-ul {
      margin-bottom: 35px;
}
.gy-lxwmtext  {
  font-size: 20px;
color: #333;
padding-bottom: 15px;
}
.gy-lxwm-h5 {
  line-height: 24px;
color: #666;
}
